<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body ng-app="my-app">
	<h1>Deliveryman Dashboard</h1>
  <div ng-controller="DeliverymanCtrl">
      <h2>User : {{delivery.Username}}</h2>
		<p>Name : {{delivery.Name}}</p>
		<b>Location: {{delivery.Location}}</b>
  </div>
  <div ng-controller="logoutCtrl">
    <input type="submit" value="Logout" ng-click="load()">
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script>
    var app = angular.module("my-app",[]);
    app.factory('interceptor',[function(){
			var interceptor = {
				request:function(config){
					config.headers.Authorization = localStorage.getItem("tkey");
					return config;
				},
				response:function(response){
					return response;
				}
			};
			return interceptor;
		}]);
		
		app.config(function($httpProvider){
			$httpProvider.interceptors.push('interceptor');
		});
		app.controller('DeliverymanCtrl',function($scope,$http){
			$http.get("https://localhost:44358/api/deliverymans/"+localStorage.getItem("user")).then(function(resp){
			debugger;
				$scope.delivery = resp.data;
			},
			function(err){
			debugger;
			});
		});

      app.controller('logoutCtrl',function($scope,$http){
			$scope.load=function(){
				//alert("OK");
				$http.post("https://localhost:44358/api/logout").then(function(resp){
					window.location.href = "../../login.html"
				},function(err){
					$scope.msg = err.data.Msg;
				});
			};
			
		});
		
	</script>
</html>