<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/style.css">
  
</head>
<body ng-app="my-app">

	<header class="header" ng-controller="logoutCtrl">
		<a href="#" class="logo"><img src="../../Images/mollafuel.png" alt=""></a>
		<nav class="nav-items">
		<a href="dashboard.html" >Dashboard</a>
		<a href="profile.html">Profile</a>
		<a class="active" href="#">Edit Profile</a>
		<a href="fuelorder.html">Order Fuel</a>
		<a href="productorder.html">Order Product</a>
		<a href="#">Contact Serviceman</a>
		<input type="submit" value="Logout" ng-click="load()">
		</nav>
	</header>
    <main>
        <div ng-controller="UpdateCtrl">
            <form ng-submit="Update()">
                <table border="1" class="profiletable">
                    <tr>
                        <td><h3> Name: </h3></td>
                        <td><input type="text" ng-model="s.Name"></td>
                    </tr>
                    <tr>
                        <td><h3> Email: </h3></td>
                        <td><input type="text" ng-model="s.Email" ></td>
                    </tr>
                    <tr>
                        <td><h3> Gender: </h3></td>
                        <td><select name="Gender" id="cars" ng-model="s.Gender">
                            <option disabled >Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><h3> Date of birth: </h3></td>
                        <td><input type="date" ng-model="s.Dob" ></td>
                    </tr>
                    <tr>
                        <td><h3> Phone no: </h3></td>
                        <td><input type="text" ng-model="s.Phone"></td>
                    </tr>
                    <tr>
                        <td><h3> Location: </h3></td>
                        <td><input type="text" ng-model="s.Location"></td>
                    </tr>
                </table>
                <input type="submit" id="btn" value="Update">
            </form>
            
        </div>
    </main>
</body>
<script src="../JS/dashborad.js"></script>
</html>